<%-
  include('layout/_head', {
    page: json['top']
  });
%>


<% include layout/_header %>
<main class="main">
  <section class="collection js-collection__title">
    <h2 class="collection__title">2019 LookBook</h2>
    <ul class="collection__list collection__list--2019">
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_01.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_02.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_03.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_04.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_05.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_06.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_07.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_08.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_09.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_10.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2019_11.jpg" alt="">
      </li>
    </ul>
  </section>
  <section class="collection">
    <h2 class="collection__title js-collection__title">2018 LookBook</h2>
    <ul class="collection__list collection__list--2019">
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_01.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_02.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_03.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_04.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_05.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_06.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_07.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_08.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_09.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_10.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_11.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_12.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2018_13.jpg" alt="">
      </li>
    </ul>
  </section>
  <section class="collection">
    <h2 class="collection__title js-collection__title">2018 LookBook</h2>
    <ul class="collection__list collection__list--2019">
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_01.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_02.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_03.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_04.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_05.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_06.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_07.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_08.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_09.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_10.jpg" alt="">
      </li>
      <li class="collection__item js-fade">
        <img src="img/collection/img_2017_11.jpg" alt="">
      </li>
    </ul>
  </section>
</main>


<% include layout/_footer %>

<% include layout/_script %>