<%-
  include('layout/_head', {
    page: json['top']
  });
%>

<% include layout/_keyvisiul %>

<div class="wrapper">
<% include layout/_header %>
<main class="main">
  <section class="content content-visiul">
    <div class="content-visiul__left">
      <img src="img/top/img_top_left_01.jpg" alt="" class="js-content-ph">
      <div class="content__title--box pc">
        <h2 class="content__title">
          dandelion.01
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
      </div>
    </div>
    <div class="content-visiul__right">
      <img src="img/top/img_top_right_01.jpg" alt="" class="js-content-ph">
      <div class="content__title--box pc">
        <h2 class="content__title">
          dandelion.04
          <span class="content__title--small">
            Bracelet
          </span>
        </h2>
      </div>
    </div>
    <div class="content__title--box sp">
      <h2 class="content__title">
        dandelion.01
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
      <h2 class="content__title">
        dandelion.04
        <span class="content__title--small">
          Bracelet
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__01 js-scroll">
    <img src="img/top/img_top_01.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        plural.02
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
      <h2 class="content__title">
        plural.03
        <span class="content__title--small">
          Necklace
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__02 js-scroll">
    <img src="img/top/img_top_02.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        ringle.01
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-half js-scroll">
    <div class="content-half__left content-half__left--02">
      <div class="content__title--box">
        <h2 class="content__title">
          ﬂuid.01
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
      </div>
    </div>
    <div class="content-half__right content-half__right--02">
      <div class="content__title--box">
        <h2 class="content__title">
          ﬂuid.01
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
      </div>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__03 js-scroll">
    <img src="img/top/img_top_03.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        waltz.02
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__04 js-scroll">
    <img src="img/top/img_top_04.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        stud.02
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-video">
    <img src="img/top/img_top_sample.jpg" alt="" class="js-content-ph">
  </section>
  <section class="content content-top js-content-top content-top__05 js-scroll">
    <img src="img/top/img_top_05.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        dandelion.03
        <span class="content__title--small">
          Necklace
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__06 js-scroll">
    <img src="img/top/img_top_06.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        tempo.01
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-half js-content-top js-scroll">

      <div class="content-half__left content-half__left--03">
        <div class="content__title--box">
          <h2 class="content__title">
            waltz.01
            <span class="content__title--small">
              Pierced Earrings
            </span>
          </h2>
        </div>
      </div>
      <div class="content-half__right content-half__right--03">
        <div class="content__title--box">
          <h2 class="content__title">
            waltz.01
            <span class="content__title--small">
              Pierced Earrings
            </span>
          </h2>
        </div>
      </div>

  </section>
  <section class="content content-top js-content-top content-top__07 js-scroll">
    <img src="img/top/img_top_07.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        ringle.01
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__08 js-scroll">
    <img src="img/top/img_top_08.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        lace.01
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__09 js-scroll">
    <img src="img/top/img_top_09.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        stud.01
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-half js-content-top js-scroll">

    <div class="content-half__left content-half__left--04">
      <div class="content__title--box">
        <h2 class="content__title">
          dandelion.01
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
      </div>
    </div>
    <div class="content-half__right content-half__right--04">
      <div class="content__title--box">
        <h2 class="content__title">
          dandelion.01
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
      </div>
    </div>

  </section>
  <section class="content content-top js-content-top content-top__10 js-scroll">
    <img src="img/top/img_top_10.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        plural.01
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
      <h2 class="content__title">
        plural.03
        <span class="content__title--small">
          Necklace
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__11 js-scroll">
    <img src="img/top/img_top_11.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        stud.03
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__12 js-scroll">
    <img src="img/top/img_top_12.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        dandelion.04
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-video">
    <img src="img/top/img_top_sample.jpg" alt="" class="js-content-ph">
  </section>
  <section class="content content-half js-content-top js-scroll">
    <div class="content-half__left content-half__left--05">
      <div class="content__title--box">
        <h2 class="content__title">
          ﬂuid.02
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
        <h2 class="content__title">
          ﬂuid.05
          <span class="content__title--small">
            Ring
          </span>
        </h2>
      </div>
    </div>
    <div class="content-half__right content-half__right--05">
      <div class="content__title--box">
        <h2 class="content__title">
          ﬂuid.02
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
        <h2 class="content__title">
          ﬂuid.05
          <span class="content__title--small">
            Ring
          </span>
        </h2>
      </div>
    </div>
    <div class="content__title--box">
      <h2 class="content__title">
        ﬂuid.02
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
      <h2 class="content__title">
        ﬂuid.05
        <span class="content__title--small">
          Ring
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__13 js-scroll">
    <img src="img/top/img_top_13.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        waltz.01
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-top js-content-top content-top__14 js-scroll">
    <img src="img/top/img_top_14.jpg" alt="" class="js-content-ph">
    <div class="content__title--box">
      <h2 class="content__title">
        ringle.02
        <span class="content__title--small">
          Pierced Earrings
        </span>
      </h2>
      <h2 class="content__title">
        ringle.03
        <span class="content__title--small">
          Ring
        </span>
      </h2>
    </div>
  </section>
  <section class="content content-video">
    <img src="img/top/img_top_sample.jpg" alt="" class="js-content-ph">
  </section>
  <section class="content content-half js-content-top js-scroll">
    <div class="content-half__left content-half__left--06">
      <div class="content__title--box">
        <h2 class="content__title">
          waltz.01
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
        <h2 class="content__title">
          waltz.03
          <span class="content__title--small">
            Necklace
          </span>
        </h2>
      </div>
    </div>
    <div class="content-half__right content-half__right--06">
      <div class="content__title--box">
        <h2 class="content__title">
          waltz.01
          <span class="content__title--small">
            Pierced Earrings
          </span>
        </h2>
        <h2 class="content__title">
          waltz.03
          <span class="content__title--small">
            Necklace
          </span>
        </h2>
      </div>
    </div>
  </section>
</main>


<% include layout/_footer %>
</div>

<% include layout/_script %>