@font-face{
    font-family: 'oggRoman';
    src: url("../font/OggRoman.ttf") format("truetype");
}

@font-face{
    font-family: 'Lausanne';
    src: url("../font/Lausanne.ttf") format("truetype");
}
