<footer class="footer">
    <p class="footer__copy">
        <small>©2020  jour couture</small>
    </p>
</footer>

<!-- <img src="/img/sample/top_sp.jpg" alt="" class="sample"> -->
<style>
    .sample{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        opacity: 0.3;
    }
</style>