<header class="header">
    <h1 class="header-logo">
        <a href="/" class="header-logo__link">
            <img src="img/common/logo.svg" alt="">
        </a>
    </h1>
    <button class="header__button nav-button js-nav-open">nav</button>
    <nav class="header__nav nav">
        <button class="nav-button--back js-nav-close">nav</button>
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#" class="nav__link js-about-open">About</a>
            </li>
            <li class="nav__item">
                <a href="collection.html" class="nav__link">Collection</a>
            </li>
            <li class="nav__item">
                <a href="index.html" class="nav__link">Online Store</a>
            </li>
            <li class="nav__item">
                <a href="index.html" class="nav__link">Stockist</a>
            </li>
            <li class="nav__item">
                <a href="index.html" class="nav__link">Contact</a>
            </li>
            <li class="nav__item nav__item--icon">
                <a href="index.html" class="nav__link nav__link--facebook">facebook</a>
                <a href="index.html" class="nav__link nav__link--insta">insta</a>
            </li>
        </ul>
    </nav>
    <div class="about">
        <button class="header__button nav-about js-about-close">about</button>
        <div class="about__content">
            <p class="about__text">
                jour : 「日」「歳月」「光」<br><br>
                日常に、特別なその日に。<br>
                歳月を超え、いつもあなたに寄り添うように。<br>
                光が射す、そんな心地を導く為に。<br><br>
                身に付けるあなたがオシャレを楽しむ<br>
                自分らしさのかたち。<br><br>
                独自の感性とモードなひねりをテーマに<br>
                2008-SSよりアクセサリーブランドを<br>
                スタート。<br><br>
                一つ一つ丁寧に作られた<br>
                それぞれのデザインをお楽しみ下さい。<br><br>
                装いにあなたらしい彩りを。
                <span class="about__text--small">
                    designer  人見愛｜mana hitomi
                </span>
            </p>
        </div>
    </div>
    <div class="nav-bg js-nav-bg"></div>
</header>