<div class="keyvisiul">
    <div class="swiper-container pc">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="img/keyvisiul/tab/img_keyvisiul_01_01.jpg">
                <source media="(min-width: 1025px)" srcset="img/keyvisiul/pc/img_keyvisiul_01_01.jpg">
                <img src="img/keyvisiul/pc/img_keyvisiul_01_01.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="img/keyvisiul/tab/img_keyvisiul_01_02.jpg">
                <source media="(min-width: 1025px)" srcset="img/keyvisiul/pc/img_keyvisiul_01_02.jpg">
                <img src="img/keyvisiul/pc/img_keyvisiul_01_01.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="img/keyvisiul/tab/img_keyvisiul_01_03.jpg">
                <source media="(min-width: 1025px)" srcset="img/keyvisiul/pc/img_keyvisiul_01_03.jpg">
                <img src="img/keyvisiul/pc/img_keyvisiul_01_01.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="img/keyvisiul/tab/img_keyvisiul_01_04.jpg">
                <source media="(min-width: 1025px)" srcset="img/keyvisiul/pc/img_keyvisiul_01_04.jpg">
                <img src="img/keyvisiul/pc/img_keyvisiul_01_01.jpg" alt="">
            </picture>
          </div>
      </div>
    </div>
    <div class="swiper-container pc">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="img/keyvisiul/tab/img_keyvisiul_02_01.jpg">
                <source media="(min-width: 1025px)" srcset="img/keyvisiul/pc/img_keyvisiul_02_01.jpg">
                <img src="img/keyvisiul/pc/img_keyvisiul_02_01.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="img/keyvisiul/tab/img_keyvisiul_02_02.jpg">
                <source media="(min-width: 1025px)" srcset="img/keyvisiul/pc/img_keyvisiul_02_02.jpg">
                <img src="img/keyvisiul/pc/img_keyvisiul_02_02.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="img/keyvisiul/tab/img_keyvisiul_02_03.jpg">
                <source media="(min-width: 1025px)" srcset="img/keyvisiul/pc/img_keyvisiul_02_03.jpg">
                <img src="img/keyvisiul/pc/img_keyvisiul_02_03.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="img/keyvisiul/tab/img_keyvisiul_02_04.jpg">
                <source media="(min-width: 1025px)" srcset="img/keyvisiul/pc/img_keyvisiul_02_04.jpg">
                <img src="img/keyvisiul/pc/img_keyvisiul_02_04.jpg" alt="">
            </picture>
          </div>
      </div>
    </div>

    <div class="swiper-container sp">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/keyvisiul/sp/img_keyvisiul_01.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/keyvisiul/sp/img_keyvisiul_02.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/keyvisiul/sp/img_keyvisiul_03.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/keyvisiul/sp/img_keyvisiul_04.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/keyvisiul/sp/img_keyvisiul_05.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/keyvisiul/sp/img_keyvisiul_06.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/keyvisiul/sp/img_keyvisiul_07.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/keyvisiul/sp/img_keyvisiul_08.jpg" alt="">
          </div>
      </div>
    </div>
      <h2 class="keyvisiul__title">
        <img src="img/common/logo_keyvisiul.svg" alt="">
      </h2>
</div>