.about{
    display: block;
    width: 100%;
    max-width: 404px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #ffffff;
    z-index: 1100;
    transition: .2s;
}

.about.active{
    right: 0;
}
.nav-about{
    width: 26px;
    height: 45px;
    border: none;
    background: transparent url(../img/common/ico_about.svg) no-repeat center center;
    background-size: 26px 20px;
    text-indent: -9999px;
}
.about__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.about__text{
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
}
.about__text--small{
    margin-top: 60px;
    display: block;
    font-size: 1.2rem;
}


@media screen and (min-width:768px){
    .about__content{
        display: flex;
        justify-content: center;
    }
    .about__text{
        font-size: 1.5rem;
        text-align: left;
    }
    .about__text--small{
        margin-top: 36px;
        font-size: 1.2rem;
    }
}