.collection{
    margin: 20px 30px 50px;
    &:last-of-type{
        margin-bottom: 0;
    }
}

.collection__list{
    list-style-type: none;
    // display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */

}
.collection__list::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.collection__item{
    display: inline-block;
    opacity: 0;
    width: 230px;
    margin-right: 30px;
    font-size: 0;
    transition: 2s;
    &:last-child{
        margin-right: 0;
    }
    &.active{
        opacity: 1;
    }
}

.collection__title{
    font-size: 1.1rem;
    letter-spacing: 0.01em;
}

@media screen and (min-width:1025px){
    .collection{
        margin-bottom: 75px;
    }
    .collection__item{
        width: 350px;
    }
    .collection__title{
        font-size: 1.7rem;
    }
}