.footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copy{
    font-family: $font-en;
    small{
        font-size: .8rem;
    }
}

@media screen and (min-width:1025px){
    .footer {
        height: 180px;
    }

    .footer__copy {
        small {
            font-size: 1.7rem;
        }
    }
}