.header {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.header-logo{
    width: 100px;
}

.header-logo__link{
    display: block;
}

.header__button{
    position: absolute;
    top: 0;
    right: 10px;
}

.about{
    position: absolute;
    display: none;
}

@media screen and (min-width:1025px){
    .header{
        height: 100px;
        padding: 0 30px;
    }
    .header-logo{
        width: 190px;
    }
}
