.wrapper{
    width: 100%;
    height: 100%;
    transition: .4s ease-out;
    position: relative;
    top: 100%;
    display: none;
}

.wrapper.active{
    top: 0;
}

.keyvisiul{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: .4s ease-out;
    display: flex;
    z-index: 10000;
    overflow: hidden;
    transform-origin: center top;
}

.keyvisiul.active{
    top: -100%;
    opacity: 0;
}

.keyvisiul__title{
    width: 250px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .2s;
}

.swiper-container {
    width: 100%;
    height: 100%;
    &.sp{
        display: block;
    }
    &.pc{
        display: none;
    }
}

.swiper-wrapper {

    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media screen and (min-width:768px) {
    .swiper-container {
        width: 50%;
        height: 100%;

        &.sp {
            display: none;
        }

        &.pc {
            display: block;
        }
    }

    .keyvisiul__title {
        width: 450px;
    }
}

@media screen and (min-width:1025px) {
    .keyvisiul__title {
        width: 600px;
    }
}