.main{
    padding-top: 45px;
}

.content{
    margin-bottom: 50px;
    position: relative;
    &:last-of-type{
        margin-bottom: 0;
    }
    background-color: #dcdddd;
}

.content-video{
    width: 100%;
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
}

.content-half{
    width: 100%;
    display: flex;

    &__left{
        width: 50%;
        padding-bottom: calc( 280 / 375 * 100%);
        transition: .2s;
    }

    &__right{
        width: 50%;
        padding-bottom: calc( 280 / 375 * 100%);
        transition: .2s;
    }
}

.content-half__left--02{
    background: url(../img/top/img_top_left_02.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_left_02.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__right--02{
    background: url(../img/top/img_top_right_02.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_right_02.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__left--03{
    background: url(../img/top/img_top_left_03.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_left_03.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__right--03{
    background: url(../img/top/img_top_right_03.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_right_03.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__left--04{
    background: url(../img/top/img_top_left_04.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_left_04.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__right--04{
    background: url(../img/top/img_top_right_04.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_right_04.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__left--05{
    background: url(../img/top/img_top_left_05.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_left_05.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__right--05{
    background: url(../img/top/img_top_right_05.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_right_05.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__left--06{
    background: url(../img/top/img_top_left_06.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_left_06.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-half__right--06{
    background: url(../img/top/img_top_right_06.jpg) no-repeat center center;
    background-size: cover;
    &:hover{
        background: url(../img/hover/img_top_right_06.jpg) no-repeat center center;
        background-size: cover;
    }
    &:hover .content__title{
        display: block;
    }
}

.content-visiul{
    position: relative;
    width: 100%;
    display: flex;
    &__left{
        position: relative;
        width: 50%;
        // padding-bottom: calc( 280 / 375 * 100%);
        // background: url(../img/top/img_top_left_01.jpg) no-repeat center center;
        background-size: cover;
        transition: .2s;
        // &:hover{
        //     background: url(../img/hover/img_top_left_01.jpg) no-repeat center center;
        //     background-size: cover;
        // }
        &:hover .content__title{
            display: block;
        }
        &:hover ~ .content__title--box .content__title{
            display: block;
        }
    }

    &__right{
        position: relative;
        width: 50%;
        // padding-bottom: calc( 280 / 375 * 100%);
        // background: url(../img/top/img_top_right_01.jpg) no-repeat center center;
        background-size: cover;
        transition: .2s;
        // &:hover{
        //     background: url(../img/hover/img_top_right_01.jpg) no-repeat center center;
        //     background-size: cover;
        // }
        &:hover .content__title{
            display: block;
        }
        &:hover ~ .content__title--box .content__title{
            display: block;
        }
    }
}

.content-top{
    width: calc(324 / 375 * 100%);
    margin-left: auto;
    margin-right: auto;
    width: 315px;
    height: 470px;
    transition: .2s;
}

// .content-top__01{
//     background: url(../img/top/img_top_01.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_01.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__02{
//     background: url(../img/top/img_top_02.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_02.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__03{
//     background: url(../img/top/img_top_03.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_03.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__04{
//     background: url(../img/top/img_top_04.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_04.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__05{
//     background: url(../img/top/img_top_05.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_05.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__06{
//     background: url(../img/top/img_top_06.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_06.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__07{
//     background: url(../img/top/img_top_07.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_07.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__08{
//     background: url(../img/top/img_top_08.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_08.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__08{
//     background: url(../img/top/img_top_08.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_08.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__09{
//     background: url(../img/top/img_top_09.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_09.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__10{
//     background: url(../img/top/img_top_10.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_10.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__11{
//     background: url(../img/top/img_top_11.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_11.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__12{
//     background: url(../img/top/img_top_12.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_12.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__13{
//     background: url(../img/top/img_top_13.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_13.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

// .content-top__14{
//     background: url(../img/top/img_top_14.jpg) no-repeat center center;
//     background-size: cover;
//     &:hover{
//         background-image: url(../img/hover/img_top_14.jpg);
//     }
//     &:hover .content__title{
//         display: block;
//     }
// }

.content__title--box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &.sp{
        display: block;
    }

    &.pc{
        display: none;
    }
}

@media screen and (min-width:1025px){
.content__title--box {

    &.sp {
        display: none;
    }

    &.pc {
        display: block;
    }
}
}

.content__title{
    position: relative;
    display: none;
    font-size: 3.2rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 26px;
    color: #ffffff;
    font-weight: normal;
    // font-family: $font_jp;
    // font-family: $font_en_1;
    letter-spacing: 0.01em;
    &:last-of-type{
        margin-bottom: 0;
    }
    &--small{
        margin-top: 10px;
        display: block;
        font-size: 0.8rem;
        font-family: $font_en;
    }
    transition: .4s;
}


@media screen and (min-width:768px){
    .content{
        margin-bottom: 115px;
    }

    .content-top{
        width: 524px;
        height: 783px;
    }

    .content__title{
        // display: none;
        font-size: 5.3rem;
        line-height: 1;
        text-align: center;
        margin-bottom: 40px;
 
        &--small{
            margin-top: 18px;
            font-size: 1.3rem;
        }
    }
}


@media screen and (min-width:1025px){
    .main {
        padding-top: 100px;
    }

    .content{
        margin-bottom: 150px;
    }

    .content-top{
        width: 700px;
        height: 1045px;
    }

    .content-video{
        max-width: 1166px;
    }
    
    
}

@media screen and (max-width:768px) {

    .sp {
        display: block;
    }

    .pc {
        display: none !important;
    }

}

@media screen and (min-width:1025px){

    .sp{
        display: none !important;
    }
    .pc{
        display: block;
    }
}

.js-scroll{
    opacity: 0;
    transform: translateY(50px);
    transition: .8s transform,.4s opacity;
}

.js-scroll.active{
    opacity: 1;
    transform: translateY(0);
}