.nav-button{
    width: 26px;
    height: 45px;
    border: none;
    background: transparent url(../img/common/ico_nav.svg) no-repeat center center;
    background-size: 26px 15px;
    text-indent: -9999px;
}

.nav-button--back{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 21px;
    height: 21px;
    border: none;
    background: transparent url(../img/common/ico_nav_on.svg);
    text-indent: -9999px;
}

.nav{
    display: block;
    width: 100%;
    max-width: 404px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #ffffff;
    z-index: 1000;
    transition: .2s;
}

.nav.active{
    right: 0;
}

.nav__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.nav__item{
}
.nav__link{
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    color: #333333;
    padding: 25px 0;
    letter-spacing: 0.1em;
}
.nav__item--icon{
    display: flex;
    justify-content: center;
}
.nav__link--facebook{
    border: none;
    background: transparent url(../img/common/ico_facebook.svg) no-repeat center center;
    background-size: 9px 17px;
    text-indent: -9999px;
    padding: 18px ;
}
.nav__link--insta{
    border: none;
    background: transparent url(../img/common/ico_insta.svg) no-repeat center center;
    background-size: 17px 17px;
    text-indent: -9999px;
    padding: 18px ;
}

.nav-bg{
    display: none;
    background-color: #efefef;
    opacity: 50%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

@media screen and (min-width:1025px){
    .nav-button{
        display: none;
    }
    
    .nav-button--back{
        display: none;
    }
    
    .nav{
        width: auto;
        max-width: none;
        height: auto;
        position: static;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 100;
    }
    
    .nav__list{
        display: flex;
        position: absolute;
        top: 55px;
        left: auto;
        right: 30px;
        transform: translate(0,0);
        width: auto;
    }
    .nav__item{
        margin-right: 34px;
        &:last-child{
            margin-right: 0;
        }
    }
    .nav__link{
        font-size: 1.7rem;
        padding: 0;
    }
    .nav__item--icon{
        display: flex;
        justify-content: center;
    }
    .nav__link--facebook{
        width: 9px;
        height: 17px;
        padding: 0;
        margin-right: 24px;
    }
    .nav__link--insta{
        width: 17px;
        height: 17px;
        padding: 0;
    }
}