* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

button{
  cursor: pointer
}

html {
  font-size: 62.5%;
  min-height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font-family: $font_en,$font_jp,serif;
  font-feature-settings: "pkna";
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: .01em;
  background-color: $base_color01;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
// スクロールバーの設定
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: solid 1px #ececec;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}