//カラーの指定
$main_color01: #00306B;
$main_color02: #004A93;
$title_color01: #00306B;
$title_color02: #111;
$text_color01: #323232;
$text_color02: #323232;
$base_color01: #fff;
$line_color01: #cdcdcd;
$line_color01: #f2f2f2;

// フォントサイズ
$font_size01: 3.2rem;
$font_size02: 2.4rem;
$font_size03: 2.0rem;
$font_size04: 1.6rem;
$font_size05: 1.4rem;

$font_size_nav: 1.8rem;

$lh_size01: 2;
$lh_size01: 1.1;

$font_jp: yu-mincho-pr6n, sans-serif;
$font_en: 'oggRoman';
$font_en_1: 'Lausanne';